# bin
*.exe
map.json

# swap
*~

# tmp
/tmp/
install.lock

# deps
# /static/ueditor/
/static/upload/

# debug
/debug/

# config
/custom/app.conf

# gopm
/.vendor/

# log
output
*.log

# idea
.idea/
*.iml
