# bin
*.exe
blog

# swap
*~

# tmp
/tmp/

# deps
/static/ueditor/
/static/upload/

# debug
/debug/

# css build
/static/src/bin/css/
!/static/src/bin/css/*.min.css

# js build
/static/src/bin/js/
!/static/src/bin/js/*.min.js
