#!/bin/bash

WORKSPACE=$(cd $(dirname $0)/; pwd)
cd $WORKSPACE

mkdir -p var

app=studio
pidfile=var/app.pid
logfile=var/app.log

function check_pid() {
    if [ -f $pidfile ];then
        pid=`cat $pidfile`
        if [ -n $pid ]; then
            running=`ps -p $pid|grep -v "PID TTY" |wc -l`
            return $running
        fi
    fi
    return 0
}

function tagversion() {
    git tag -l --sort=v:refname | tail -1
}

function build() {
    version=`tagversion`
    gitversion=`git log --format='%h' | head -1`
    buildtime=`date +%Y-%m-%d_%H:%M:%S`
    export GOPROXY=https://goproxy.cn,direct
    export GO111MODULE=on
    go mod download
    GOOS=$1 GOARCH=$2 go build -tags=jsoniter -ldflags "-X duguying/$app/g.GitVersion=$gitversion -X duguying/$app/g.BuildTime=$buildtime -X duguying/$app/g.Version=$version" -o $app .
}

function pack() {
    version=`git tag | head -1`
    rm -rf dist/
    mkdir -p dist/${app}/bin
    mkdir -p dist/${app}/etc
    cp studio dist/${app}/bin
    cp control dist/${app}
    cp etc/17monipdb.datx dist/${app}/etc
    cd dist
    zip -r release-${version}.zip ${app}/*
    cd ..
}

function start() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "$app now is running already, pid="
        cat $pidfile
        return 1
    fi


    nohup ./$app >> $logfile &
    echo $! > $pidfile
    echo "$app started..., pid=$!"
}

function stop() {
    pid=`cat $pidfile`
    kill $pid
    echo "$app stoped..."
}

function restart() {
    stop
    sleep 1
    start
}

function status() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo started
    else
        echo stoped
    fi
}

function proto(){
    echo "compile protobuf..."
    protoc -I=./service/message/proto --go_out=./service/message/model ./service/message/proto/*.proto
    echo "compile finished."
}

function doc() {
    swag init
}

function docker_prebuild() {
    build `go env GOOS` `go env GOARCH`
    rm -rf dockerdist
    mkdir -p dockerdist
    cp ./studio ./dockerdist
    cp ./setenv ./dockerdist
    cp ./ipipfree.ipdb ./dockerdist
}

function docker_build() {
    build `go env GOOS` `go env GOARCH`
    rm -rf dockerdist
    mkdir -p dockerdist
    cp ./studio ./dockerdist
    cp ./setenv ./dockerdist
    cp ./ipipfree.ipdb ./dockerdist
    image=duguying/studio
    version=`tagversion`
    docker build -t $image -t $image:$version .
    docker push $image:$version
    docker push $image:latest
}

function docker_tags() {
    version=`tagversion`
    echo -n $version",latest" > .tags
    cat .tags
}

function pull_tags() {
    git fetch --tags
    ls
}

function tailf() {
    tail -f $logfile
}

function help() {
    echo "$0 build|pack|start|stop|restart|status|tail|docker|ptag"
}

if [ "$1" == "" ]; then
    help
elif [ "$1" == "build" ];then
    build `go env GOOS` `go env GOARCH`
elif [ "$1" == "doc" ];then
    doc
elif [ "$1" == "stop" ];then
    stop
elif [ "$1" == "start" ];then
    start
elif [ "$1" == "restart" ];then
    restart
elif [ "$1" == "status" ];then
    status
elif [ "$1" == "tail" ];then
    tailf
elif [ "$1" == "pack" ];then
    pack
elif [ "$1" == "proto" ];then
    proto
elif [ "$1" == "prebuild" ];then
    docker_prebuild
elif [ "$1" == "dtag" ];then
    docker_tags
elif [ "$1" == "ptag" ];then
    pull_tags
elif [ "$1" == "docker" ];then
    docker_build
else
    help
fi
