<div class="project-manage">
	<div><a href="/admin/new_project">添加项目</a></div>
	<ul>
		<li ng-repeat="project in projects" class="item">
			<div class="proj-icon"><img ng-src="{{project.icon_url}}" alt=""></div>
			<div class="proj-warpper">
				<div class="proj-name">{{project.name}}</div>
				<div class="proj-desc" data-ng-bind-html="project.description_html"></div>
			</div>
			<div class="proj-operate">
				<a href="/admin/edit_project/{{project.id}}">编辑</a>
				<a href="javascript:void(0);" delete-project ng-model="project">删除</a>
			</div>
		</li>
	</ul>
</div>