<div class="new-article">
	<div class="header">
		<label for="">标题</label><input type="text" class="title" name="title" ng-model="title">
		<label for="">关键词</label><input type="text" class="keyword" name="keyword" ng-model="keywords">
		<input type="button" class="btn" value="提交" ng-click="submit()">
	</div>
	<hr class="seperator">
	<div class="editor">
		<div class="ueditor" config="config" ng-model="content"></div>
	</div>
	<hr class="seperator">
	<div class="description">
	<label for="">简介</label>
		<textarea name="desc" ng-model="abstract"></textarea>
	</div>
</div>
