.admin-left-banner{
	float: left;
	width: 20%;
	height: 100%;
	overflow: hidden;
}

.admin-title{
	height: 40px;
	background-color: red;
	font-family: '华文行楷';
	color: white;
	font-size: 36px;
	text-align: center;
}

.admin-menu-left{
	height: 570px;
	background-color: #3B4F67;
}

.admin-menu-left ul{
	margin: 0px;
	padding: 20px;
	color: white;
}

.admin-menu-left ul li{
	border: 1px inset white;
    list-style: none outside none;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.admin-menu-left ul li:hover{
	background-color: #314256;
}

.admin-right-pannel{
	float: left;
	width: 80%;
}

.admin-top-menu{
	height: 40px;
	background-color: #3c454f;
}

#article-manage-box ul{
	padding-left:0;
	margin-left: 10px;
}

#article-manage-box li{
	list-style: none;
}

.admin-amb-banner ul{
	overflow: hidden;
}

.admin-amb-banner ul li{
	float: left;
}

.admin-amb-line ul{
	overflow: hidden;
}

.admin-amb-line ul li{
	float: left;
}

.admin-amb-cell{
	border: solid 1px #ccc;
	text-align: center;
	/*table-layout:fixed;*/
	height: 21px;
}

.admin-col-id{
	width: 30px;
}
.admin-col-title{
	width: 300px;
}
.admin-col-author{
	width: 60px;
}
.admin-col-time{
	width: 170px;
}
.admin-col-count{
	width: 60px;
}
.admin-col-operation{
	width: 80px;
}
