@charset "UTF-8";
* {
  font-family: "Microsoft YaHei", "Hiragino Sans GB", "SimSun"; }

a {
  color: #1982d1;
  cursor: pointer;
  text-decoration: none; }

a:link, a:visited, a:active {
  text-decoration: none;
  transition: text-shadow 500ms ease-in 0ms, color 500ms ease-in 0ms; }

a:hover, a:focus {
  color: orange;
  text-decoration: none;
  transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms; }

body {
  background: url("../img/background.jpg");
  background-position: center center;
  background-attachment: fixed; }

::-webkit-scrollbar-track-piece {
  background-color: #f5f5f5;
  border-left: 1px solid #d2d2d2; }

::-webkit-scrollbar {
  width: 13px;
  height: 13px; }

::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  border: 1px solid #979797;
  min-height: 28px; }

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #636363;
  background-color: #929292; }

/* syntaxhighlighter patch */
.syntaxhighlighter {
  padding-bottom: 5px !important; }

/* copy from alloyteam */
#dynamic-to-top {
  display: none;
  overflow: hidden;
  width: auto;
  z-index: 90;
  position: fixed;
  bottom: 50px;
  right: 20px;
  top: auto;
  left: auto;
  font-family: sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #333;
  font-weight: bold;
  padding: 20px 23px;
  border: 1px solid #aba6a6;
  background: #3C454F;
  -webkit-background-origin: border;
  -moz-background-origin: border;
  -icab-background-origin: border;
  -khtml-background-origin: border;
  -o-background-origin: border;
  background-origin: border;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -icab-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  -icab-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4), inset 0 10px 10px rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -icab-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px; }

hr {
  color: aqua;
  margin-bottom: 25px;
  margin-top: 25px; }

.main {
  width: 1020px;
  background-color: white;
  margin: 50px auto;
  box-shadow: 0 0 20px;
  overflow: hidden; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", "monospace"; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", "monospace"; }

.article table {
  table-layout: fixed;
  word-wrap: break-word;
  border-spacing: 0;
  border-collapse: collapse; }
  .article table tr td {
    border: 1px solid gray;
    padding: 8px; }
  .article table tr .green {
    background-color: #76E480; }
  .article table tr .red {
    background-color: #FF6B6B; }
  .article table tr:nth-child(odd) {
    background-color: #ccc; }
  .article table tr:first-child {
    background-color: #666;
    font-weight: bolder; }

.article blockquote {
  position: relative;
  background: #EEE;
  text-align: left;
  margin: 20px 10px;
  padding: 3px 25px 3px 25px;
  color: #333;
  font-size: 12px;
  line-height: 22px;
  border-left: 3px solid #AAA; }

.article blockquote:before {
  content: "“";
  top: 5px;
  left: 10px;
  font-family: Helvetica, arial, '宋体';
  position: absolute;
  font-size: 35px; }

.article blockquote:after {
  content: "”";
  bottom: -5px;
  right: 15px;
  font-family: Helvetica, arial, '宋体';
  position: absolute;
  font-size: 35px; }

.header {
  float: left;
  width: 100%;
  padding: 0px; }
  .header .icons {
    width: 100%;
    background-color: #3c454f;
    overflow: hidden; }
    .header .icons span {
      float: right; }

#dynamic-to-top span {
  display: block;
  overflow: hidden;
  width: 14px;
  height: 12px;
  background: url("../img/up.png") no-repeat center center; }

.menu {
  display: block;
  list-style: none outside none;
  overflow: hidden;
  width: 100%;
  height: 34px;
  padding: 0px;
  margin: 0px; }
  .menu li {
    display: block;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 76px;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB";
    cursor: pointer; }
  .menu li:hover {
    background: #b9bdc0; }

.banner {
  width: 100%;
  height: 200px;
  background: url("../img/foreground.jpg"); }
  .banner .title {
    font-family: "Xingkai SC";
    font-size: 35px;
    text-shadow: 0 0 3px;
    color: white; }
  .banner .title:hover {
    text-shadow: 0 0 10px;
    transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms; }

.gap {
  width: 100%;
  height: 40px; }
  .gap .gravatar {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 40px;
    margin: 0 auto;
    position: relative;
    top: -40px; }

.article-list {
  float: left;
  width: 720px;
  padding: 0 25px 20px; }

.article {
  font-size: 14px; }
  .article .article-title {
    color: #1982d1;
    font-family: "Michroma", "Hiragino Sans GB", "Segoe UI Light", "Segoe UI", "Segoe UI WP", "Microsoft Jhenghei", "Microsoft YaHei", "sans-serif", "Times";
    font-size: 26px;
    text-decoration: none; }
  .article .article-title:hover {
    color: orange;
    text-decoration: none; }
  .article .article-ps {
    font-size: 12px;
    padding-top: 10px; }
  .article .article-content {
    padding-top: 25px; }
    .article .article-content img {
      max-width: 720px; }
    .article .article-content table {
      max-width: 720px; }

.page-nav {
  border: solid 1px black;
  padding: 3px;
  box-shadow: 0 0 7px 3px gray; }

.page-nav:hover {
  background-color: #3c454f; }

.view-count {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(255, 113, 112, 0.8);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  min-width: 15px; }

.author-name {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(25, 130, 209, 0.7);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  min-width: 15px; }

.post-time {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.7);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  min-width: 15px; }

.tags {
  display: inline-block;
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(0, 128, 0, 0.5);
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 10px;
  min-width: 15px; }

.box-right {
  float: left;
  width: 250px;
  margin-bottom: 20px; }
  .box-right .box {
    margin-top: 10px; }
    .box-right .box ul {
      margin: 0px;
      padding: 0px; }
      .box-right .box ul li {
        font-size: 14px;
        list-style-type: square;
        margin-left: 25px;
        margin-right: 25px; }
      .box-right .box ul a {
        color: gray; }
      .box-right .box ul a:hover {
        color: black;
        transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms; }
    .box-right .box .box-title {
      color: black; }

.footer {
  float: left;
  text-align: center;
  width: 100%;
  font-size: 12px;
  background-color: rgba(0, 0, 255, 0.2); }
  .footer .links {
    background-color: #3c454f;
    overflow: hidden;
    color: white; }
    .footer .links .colume {
      float: left;
      margin-left: 40px;
      width: 20%;
      margin-top: 10px; }
      .footer .links .colume li {
        text-align: center;
        width: 100%;
        list-style: none;
        padding-top: 5px;
        padding-bottom: 5px; }
        .footer .links .colume li a {
          color: white;
          font-size: 12px;
          border-bottom: 1px outset;
          width: 80px;
          display: block;
          margin: 0 auto; }
        .footer .links .colume li a:hover {
          color: orange;
          text-decoration: none;
          transition: text-shadow 250ms ease-in 0ms, color 250ms ease-in 0ms; }
      .footer .links .colume .blogroll {
        color: gray;
        display: block;
        font-size: 14px;
        font-weight: bold; }
  .footer ul {
    padding: 0px;
    margin: 0px; }
  .footer .copyright {
    background-color: #111;
    color: white; }

.icon {
  margin: 5px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url("../img/icons.png") white;
  border-radius: 4px; }

.icon-osc {
  background-position: -64px 0px; }

.icon-github {
  background-position: -32px -32px; }

.icon-weibo {
  background-position: 0 -32px; }

.icon-gplus {
  background-position: 0 0px; }

.icon-twitter {
  background-position: -32px 0px; }

.icon-osc:hover {
  background-position: -64px 0px;
  box-shadow: 0 0 10px green inset; }

.icon-github:hover {
  background-position: -32px -32px;
  box-shadow: 0 0 10px black inset; }

.icon-weibo:hover {
  background-position: 0 -32px;
  box-shadow: 0 0 10px red inset; }

.icon-gplus:hover {
  background-position: 0 0px;
  box-shadow: 0 0 10px #ab378f inset; }

.icon-twitter:hover {
  background-position: -32px 0px;
  box-shadow: 0 0 10px #00a4e0 inset; }

/*list page*/
.lp-article-list {
  width: 1020px;
  float: left; }
  .lp-article-list li {
    list-style: none; }
  .lp-article-list ul {
    overflow: hidden; }
  .lp-article-list .a-l-item:nth-child(odd) li {
    background-color: #ddd; }
  .lp-article-list .a-l-item li {
    float: left;
    border: 1px solid #ccc;
    height: 23px; }
  .lp-article-list .a-l-item .time {
    width: 20%; }
  .lp-article-list .a-l-item .title {
    width: 70%; }

.lp-nav {
  float: left;
  overflow: hidden;
  padding: 20px;
  padding-left: 80px;
  width: 1020px; }

.drop-menu {
  display: none; }

.drop-list {
  overflow: hidden;
  padding: 0;
  position: absolute;
  background-color: black;
  margin-top: 5px; }
  .drop-list li {
    float: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    color: white;
    font-size: 14px; }

.droplist-array-down {
  display: block;
  position: absolute;
  margin-left: 32px;
  margin-top: -15px;
  font-size: 30px; }

.registor {
  display: block;
  margin-left: 350px;
  margin-right: 350px;
  text-align: center; }
  .registor span {
    display: block; }
    .registor span label {
      width: 80px;
      display: inline-block; }

.main .projects {
  margin: 0 25px 30px 25px;
  width: 970px;
  float: left;
  color: #444; }
  .main .projects h1 {
    font-size: 30px;
    line-height: 36px; }
  .main .projects .intro {
    margin: 20px 0; }
  .main .projects .project-box {
    overflow: hidden;
    margin: 20px 0; }
    .main .projects .project-box img {
      float: left;
      max-width: 120px;
      max-height: 120px;
      border: 1px solid gray;
      padding: 5px;
      border-radius: 4px; }
    .main .projects .project-box .info {
      float: left;
      width: 830px;
      font-size: 15px; }
      .main .projects .project-box .info * {
        margin-left: 5px; }
      .main .projects .project-box .info hr {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: gray;
        height: 1px; }
      .main .projects .project-box .info .name {
        font-weight: bolder;
        font-size: 18px; }
  .main .projects .nav-project-list {
    margin-top: 20px; }

.main .resume {
  margin: 10px 40px; }
  .main .resume h1 {
    font-size: 24px;
    border-bottom: 1px solid gray; }
  .main .resume h2 {
    font-size: 18px;
    color: gray;
    margin: 0; }
  .main .resume p {
    margin: 10px 0; }

.main .statistics-noti {
  margin: 0 10px; }

/*# sourceMappingURL=style.css.map */