$main-font-family:'Microsoft YaHei','Hiragino Sans GB','SimSun';
$banner-font-family:'Microsoft YaHei','Hiragino Sans GB';
$site-title-font-family:'Xingkai SC';
$article-title-font-family:'Michroma','Hiragino Sans GB','Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','Microsoft YaHei','sans-serif','Times';
$code-font-family:'Menlo','Monaco','Consolas',"Courier New",'monospace';
$article-font-size:14px;
$main-max-width: 1020px;
$left-max-width: 720px;
$mobile-device: 768px;
$amin-max-width: 1300px;

$array-up-icon: '../img/up.png';
$bg-img: "../img/background.jpg";
$foreground-img: "../img/foreground.jpg";
$icons: "../img/icons.png";
$admin-loading-gif: "../img/loading.gif";

