@import "params";

.admin{
  width: $amin-max-width;
  background-color: white;
  margin: 50px auto;
  box-shadow: 0 0 20px;
  overflow: hidden;
}

.admin{
  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  }
  input[type="radio"],input[type="checkbox"]{
    margin: 4px 0 0;
    line-height: normal;
  }
  .checkbox, .radio{
    min-height: 20px;
    padding-left: 20px;
    line-height: 20px;
    margin: 0 0 0 20px;
  }
  input[type="radio"], input[type="checkbox"], .checkbox, .radio{
    float: left;
    margin-left: -20px;
    cursor: pointer;
  }
  .btn{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  }

  .btn:hover, .btn:focus {
    background-position: 0 -15px;
    color: #333;
    background-color: #e6e6e6;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
  }

  .alert{
    padding: 5px;
    //margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
}

.admin{
  background: #3B4F67;
  $admin-left-width: 50px;

  .left{
    width: $admin-left-width;
    float: left;
    background: #3B4F67;

    ul{
      width: 100%;
      display: inline-block;
      padding: 0px;
      margin: 0px;

      li{
        list-style: none;
        width: 100%;
        height: $admin-left-width;
        text-align: center;
        display: inline-block;

        &:hover{
          background-color: orange;
        }

        a{
          color: #FFF;
          display: block;
          margin: 8px 0;

          i{
            font-size: 30px;
          }
        }
      }

      .active{
        background-color: #666666;
      }
    }
  }

  .right{
    background-color: #FFFFFF;
    display: block;
    width: $amin-max-width - $admin-left-width;
    min-height: 500px;
    float: right;
    
    .ng-scope{
      padding: 5px;
    }
  }
}

.admin{
  .right{
    .new-article,.edit-article{
      .header{
        padding: 5px 0px;
        label{
          padding: 0 5px;
        }
        .title{
          width: 350px;
          color: #0000cc;
        }
        .keyword{
          width: 300px;
          color: goldenrod;
        }
        input[type="text"]{
          font-weight: bold;
        }
        .btn{
          line-height: 14px !important;
          float: right;
          font-weight: bold;
        }
      }
      .seperator{
        margin: 0px;
        color: white;
        border: solid 1px white;
      }
      .editor{
        top: 85px;
      }
      .description{
        textarea{
          color: #888;
          width: 100%;
          height: 100px;
          margin: 0px;
          padding: 0px;
          resize: none;
        }
      }
    }
  }
}

.admin{
  .right{
    .manage-article{
      ul{
        padding: 0px;
      }
      li{
        list-style: none;
      }
      .tab-header,.tab-item{
        display: inline-block;
        width: 100%;

        li{
          float: left;
        }

        .item-id{
          width: 20px;
          margin: 0 20px;
        }
        .item-title{
          width: 400px;
          margin: 0 10px;
        }
        .item-time{
          width: 170px;
        }
        .item-view{
          width: 70px;
        }
      }
      .tab-header{
        background-color: #CCCCCC;
      }
      .tab-item:nth-child(odd){
        background-color: #CCCCCC;
      }
    }
  }
}

.admin{
  .right{
    .duoshuo{
      li{
        list-style: none;
        float: left;
      }
      ul{
        padding: 0px;
      }

      .item{
        display: inline-block;
        width: 100%;

        li.avatar{
          img{
            width: 40px;
            height: 40px;
            margin: 5px;
          }
        }
        li.message{
          width: 90%;
        }
      }
    }
  }
}

.admin{
  .right{
    .project-manage{
      ul{
        padding-left: 10px;
      }

      .item{
        $proj-icon-width: 50px;

        overflow: hidden;
        list-style: none;
        background-color: #CCCCCC;
        margin: 5px 0;

        img{
          width: $proj-icon-width;
          height: $proj-icon-width;
          border: 2px solid #CCCCCC;
        }

        .proj-icon{
          width: $proj-icon-width;
          height: $proj-icon-width;
          float: left;
        }

        .proj-warpper{
          float: left;
          width: 80%;
          margin: 0 5px;

          .proj-name{}
          .proj-warpper{}
        }

        .proj-operate{
          float: left;
          width: 50px;
          padding-left: 5px;
        }
      }

      .item:nth-child(odd){
        background-color: #FFFFFF;

        img{
          border: 2px solid #FFFFFF;
        }
      }
    }
  }
}